IntegrationTest/IntegrantionTestSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:IntegrationTest" elementFormDefault="qualified" targetNamespace="urn:IntegrationTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="testSection" type="tns:IntegrationTest.TestSectionCT" />
	<xs:complexType name="IntegrationTest.TestSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="cases" type="tns:IntegrationTest.TestCaseConfCollectionCT">
				<xs:annotation>
					<xs:documentation>The Cases.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IntegrationTest.TestCaseConfCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="counters" type="tns:IntegrationTest.TestCounterConfCollectionCT">
				<xs:annotation>
					<xs:documentation>The Counters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="params" type="tns:IntegrationTest.ParamCollectionCT">
				<xs:annotation>
					<xs:documentation>The Params.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="sleep" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Sleep.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="runTime" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The RunTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="count" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Count.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxThread" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxThread.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="units" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Units.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="IntegrationTest.TestCaseConfCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:IntegrationTest.TestCaseConfCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:IntegrationTest.TestCaseConfCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:IntegrationTest.TestCaseConfCT">
				<xs:annotation>
					<xs:documentation>The TestCaseConf Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IntegrationTest.TestCaseConfCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="IntegrationTest.TestCaseConfCollectionClearCT" />
	<xs:complexType name="IntegrationTest.TestCounterConfCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="from" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The From.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="to" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The To.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="count" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Count.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="IntegrationTest.TestCounterConfCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:IntegrationTest.TestCounterConfCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:IntegrationTest.TestCounterConfCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:IntegrationTest.TestCounterConfCT">
				<xs:annotation>
					<xs:documentation>The TestCounterConf Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IntegrationTest.TestCounterConfCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="IntegrationTest.TestCounterConfCollectionClearCT" />
	<xs:complexType name="IntegrationTest.ParamCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="param" type="tns:IntegrationTest.ParamCT">
				<xs:annotation>
					<xs:documentation>The Param Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IntegrationTest.ParamCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
